@model IEnumerable<RR_BL.Reviews>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Brush Script MT', cursive; ">Welcome To Chris's Royal Reviews</h1>
</div>

<div>@ViewData["key"]</div>
<div>@(((RR_BL.Reviews)ViewData["reviews"]))</div>


<div><a asp-action="Index" asp-route-id="hello">link 1</a></div>
<div><a asp-action="Index" asp-route-texttoprint="hello">link 2</a></div>
<div class="text-center">
    <img src="https://i.pinimg.com/736x/30/3b/51/303b517a0d62d4fda0e67c02f9127eee.jpg" style="width: 30em; height: 25em;" />
</div>
<div class="text-center">views: @TempData.Peek("viewTracker")</div>
