@model IEnumerable<RR_BL.Reviews>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Chris's Royal Reviews</h1>
</div>

<div>@ViewData["key"]</div>
<div>@(((RR_BL.Reviews)ViewData["reviews"]))</div>


<div><a asp-action="Index" asp-route-id="hello">link 1</a></div>
<div><a asp-action="Index" asp-route-texttoprint="hello">link 2</a></div>

<div>views: @TempData.Peek("viewTracker")</div>

<table>
    <thead>
        <tr>
            <th>Review Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Comment</td>
            </tr>
        }
    </tbody>
</table>
